<div id="footer" class="footer">
  <div class="contact"> 
    <i class="fa fa-phone"></i>
    <span class="contact-phone-number">: 0411 444 444</span>
    <i class="fa fa-envelope"></i>
    <span class="contact-mail">: luka.barczak@gmail.com</span>
  </div>
  <div class="about-me">
    <a routerLink="/about-me">
      <i class="fa fa-user">
        <span class="about-me-tooltip">Click me to know more about me!</span>
      </i> 
    </a>
  </div>
  <div class="github"> 
    <i class="fa fa-github" (click)="delegateToGithubPage()"></i>
    <span class="github-link">: https://github.com/b4ry</span>
  </div>
</div>