<div class="flex-container">
  <span class="technology-details-header">
    TECHNOLOGY DETAILS
  </span>
  <div class="technology-details-container" *ngIf="selectedTechnologyDto">
    <div class="technology-detail">
      <span class="technology-name-label">
        Name:
      </span>
      <span class="technology-name">
        {{selectedTechnologyDto?.name}}
      </span>
    </div>
    <div class="technology-detail">
      <span class="technology-name-label">
        Type:
      </span>
      <span class="technology-name">
          {{selectedTechnologyDto?.technologyType.name}}
      </span>
    </div>
  </div>
  <div class="technology-detail-projects" *ngIf="selectedTechnologyDto">
    <span class="technology-details-header">
      PROJECTS
    </span>
    <div class="project-detail" *ngFor="let project of selectedTechnologyDto?.projects">
      <div class="technology-detail">
        <span class="technology-name-label">
          Name:
        </span>
        <span class="technology-name">
          {{project.name}}
        </span>
      </div>
      <div class="technology-detail">
        <span class="technology-name-label">
          Description:
        </span>
        <span class="technology-name">
          {{project.description}}
        </span>
      </div>
    </div>
  </div>

</div>
