<div [style.width.%]="skillsPanelWidth" class="left-side-nav">
    <div [style.visibility]="buttonVisibility" class="closebtn">
        <i class="fa fa-times-circle" (click)="closeSkillsPanel()"></i>
    </div>
    <div class="flex-container">
        <div [style.visibility]="buttonVisibility" *ngFor="let technologyDto of technologiesDto" (click)="redirectToSkillsPageDetails(technologyDto)">
            {{technologyDto.name}}
        </div>
        <div *ngIf="technologiesDto.length > 0" [style.visibility]="buttonVisibility" (click)="redirectToSkillsPage()">
            MORE
        </div>
    </div>
</div>