<div [style.width.%]="skillsPanelWidth" class="left-side-nav">
    <div class="closebtn">
        <i class="fa fa-times-circle" (click)="closeSkillsPanel()"></i>
    </div>
    <div class="flex-container">
        <div [style.visibility]="buttonVisibility" *ngFor="let skill of skills" (click)="redirectToSkillsPageDetails(skill)">
            {{skill.name}}
        </div>
        <div [style.visibility]="buttonVisibility" (click)="redirectToSkillsPage()">
            MORE
        </div>
    </div>
</div>