<div class="tech-types-container">
  <div class="technologies-header">
    TECHNOLOGIES
    <i class="fa fa-pie-chart statistics-icon" (click)="openStatisticsDialog()"></i>
  </div>
  <ul class="list-of-tech-types" *ngFor="let technologyTypeDto of technologyTypesDto">
    <div class="tech-type">
      <span (click)="onToggleList(technologyTypeDto.name)">{{technologyTypeDto.name}}</span>
      <i [ngClass]="isTechnologyListVisible(technologyTypeDto.name) === true ? 'fa fa-minus-square-o' : 'fa fa-plus-square-o'" 
         (click)="onToggleList(technologyTypeDto.name)">
      </i>
    </div>
    <div 
      [ngClass]="isTechnologyListVisible(technologyTypeDto.name) === true ? 'list-of-technologies-visible' : 'list-of-technologies-hidden'"
    >
      <ul 
        *ngFor="let technologyDto of technologiesDto | filterTechnologiesPipe:technologyTypeDto.technologyTypeEnum" 
        (click)=onSelectTechnology(technologyDto)
        [class.technology-selected]="technologyDto === selectedTechnologyDto"
      >
        <li class="technology">
          {{technologyDto.name}}
        </li>
      </ul>
    </div>
  </ul>
</div>