.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 55em;
    align-items: center;
    justify-content: center;
}
  
.mat-table {
    overflow: auto;
    min-height: 40em;
    max-height: 40em;
    min-width: 80%;
    border-style: solid;
    border-color: dimgray;
}

mat-row:first-of-type {
    border-top-style: solid;
}

mat-cell {
    font-weight: bold;
}

.mat-header-cell {
    font-weight: bold;
}

mat-paginator {
    margin-top: 0.5%;
    border-style: solid;
    border-color: dimgray;
    min-width: 80%;
}

.mat-paginator-page-size-label {
    font-weight: bold;
}

.mat-paginator-range-label {
    font-weight: bold;
}

.mat-select-value-text {
    font-weight: bold;
    text-align: center;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    font-weight: bold;
    color: black;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: red;
}

.mat-form-field-ripple {
    background-color: red;
}

.fa-search-plus:hover {
    cursor: pointer;
    color: red;
}

.mat-sort-header-button:hover {
    color: red;
}

.mat-cell-value {
    cursor: default;
}

.mat-cell-name-value {
    cursor: default;
}

.mat-cell-name-value .tooltiptext {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    min-width: 10%;
    background-color: white;
    border-radius: 6px;
    border-style: solid;
    margin-left: 7.5%;
    margin-top: -1.5%;
    padding-top: 0.2%;
    position: absolute;
    z-index: 1;
    transition: 0.5s;
    opacity: 0;
    font-size: 200%;
}

.mat-cell-name-value:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}