<div class="flex-container">
    <app-skills-skills-panel 
        [selectedTechnologyDto]="selectedTechnologyDto"
        (notifyChangingListOfTechIcons)="onNotifyChangingListOfTechIcons($event)"
        (notifySelectingTechnology)="onNotifySelectingTechnology($event)"
    >
    </app-skills-skills-panel>
    <ul class="flex-container-icons">
        <li class="flex-item" *ngFor="let technologyDto of technologiesDto" [@itemState]="technologyDto.itemState">
            <div class="icon-and-label">
                <i [ngClass]="technologyDto.iconClass" (click)="onSelectTechnology(technologyDto)"></i> <!--(click)="openSkillDetails(technology.name)"></i>-->
                <span class="icon-label">{{technologyDto.name}}</span>
            </div>    
        </li>
    </ul>
    <app-skill-details
        [selectedTechnologyDto]="selectedTechnologyDto"
    >
    </app-skill-details>
</div>

<!-- <div class="container" style="background-color:white;">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Technology type</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let technologyType of technologyTypes">
                <td class="text-center" style="width: 15px;">{{technologyType.name}}</td>
                <td class="text-center" style="width: 15px;">{{technologyType.technologyTypeEnum | mapTechnologyTypeEnumPipe}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> -->

<!-- <div class="container" style="background-color:white;">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Technology type</th>
                <th class="text-center">Projects</th>
                <th class="text-center">iconClass</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let technology of technologies">
                <td class="text-center" style="width: 15px;">{{technology.name}}</td>
                <td class="text-center" style="width: 15px;">{{technology.technologyType.technologyTypeEnum | mapTechnologyTypeEnumPipe}}</td>

                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Description</th>
                        </tr>
                    </thead>

                    <tr *ngFor="let project of technology.projects">
                        <td class="text-center" style="width: 15px;">{{project.name}}</td>
                        <td class="text-center" style="width: 15px;">{{project.description}}</td>
                    </tr>
                </table>    

                <td class="text-center" style="width: 15px;">{{technology.iconClass}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="background-color:white;">
    <div>
       <label>Name: </label>
       <input [(ngModel)]="technologyName" />
    </div>
    <div>
        <label>IconClass: </label>
        <input [(ngModel)]="technologyIconClass" />
     </div>
    <div>
       <label>Type: </label>
       <input readonly [(ngModel)]="technologyType" />
    </div>
    <select [(ngModel)]="technologyType">
        <option *ngFor="let technologyTypeEnum of technologyTypesEnum | enumToDropdown" [value]="technologyTypeEnum.key">
            {{technologyTypeEnum.value}}
        </option>
     </select>
    <div>
       <button (click)="createTechnology()">Add</button>
    </div>
  </div> -->
