.right-side-nav {
    height: 88%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 4%;
    right: 0;
    background-color: dimgray;
    overflow-x: hidden;
    transition: 0.5s;
}

.right-side-nav .closebtn {
    position: absolute;
    top: 0.5%;
    left: 4%;
    font-size: 200%;
}

i.fa-times-circle:hover {
    color: red;
    cursor: pointer;
}

.grid {
    padding: 30% 10%;
}

.list-projects-element {
    padding-right: 10%;
}
  
.projects-button {
    padding: 10%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color: dimgray;
    background-color: black;
}
  
.projects-button:hover {
    box-shadow:
        inset 0 0 50px white,   
        inset 20px 0 80px darkviolet,  
        inset -20px 0 80px mediumorchid,  
        inset 20px 0 300px violet, 
        inset -20px 0 300px mediumorchid,
        -10px 0 150px 1px indigo,
        10px 0 80px 1px indigo;
    cursor: pointer;
    color: black;
}

.grid-more {
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.more-projects {
    padding: 30% 10%;
}