.photo {
    width: 400px;
    height: 400px;
    background-color: dimgray;
    border-radius: 50%;
    z-index: -1;
}

.center {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.moon-skills {
    width: 80px;
    height: 80px;
    background-color: darkred;
    border-radius: 50%;
    animation-name: orbit;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: width 2s, height 2s;
    z-index: 1;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); 
}

.moon-experiences {
    width: 100px;
    height: 100px;
    background-color: darkblue;
    border-radius: 50%;
    animation-name: orbit2;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: width 2s, height 2s;
    z-index: 2;
}

.moon-projects {
    width: 75px;
    height: 75px;
    background: darkviolet;
    border-radius: 50%;
    animation-name: orbit3;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: width 2s, height 2s;
}

.star1, .star2, .star3, .star4 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: azure;
}

.star1 {
    left: 20%;
    top: 20%;
}

.star2 {
    left: 15%;
    top: 15%;
}

.star3 {
    left: 25%;
    top: 25%;
}

.star4 {
    left: 80%;
    top: 60%;
    animation-name: blink2;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes orbit {
    from    {   transform: rotate(0deg) translateY(-175px) translateX(-175px);                  }
	to      {   transform: rotate(360deg) translateY(-175px) translateX(-175px);                }
    0%      {   background-color:darkred;                                                     }
    25%     {   background-color:red;                                                         }
    50%     {   background-color:yellow;                                                      }
    75%     {   background-color:red;                                                         }
    100%    {   background-color:darkred;                                                     }
}

@keyframes orbit2 {
	from    { 	transform: rotate(0deg) translateY(-200px) translateX(-200px);                                      }
    to      {   transform: rotate(-360deg) translateY(-200px) translateX(-200px);                                   }
    0%      {   background-color:darkblue; box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);                        }
    16%     {   box-shadow: 0px 0px 0px;                                                                            }
    25%     {   background-color:blue; box-shadow: 0px 0px 0px;                                                   }
    50%     {   background-color:lightblue; box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);                       }
    75%     {   background-color:blue;  box-shadow: 0px 0px 0px;                                                  }
    100%    {   background-color:darkblue; box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);                        }
}

@keyframes orbit3 {
    0%      {   left: 35%; top: 38%; box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);                }
    42%     {   box-shadow: 0px 0px 0px;                                                            }
    50%     {   left: 65%; top: 39%;                                                                }
    75%     {   left: 50%; top: 38%;                                                                }
    100%    {   z-index: -2; left: 35%; top: 38%;                                                   }
}

@keyframes blink1 {
    40%     {   width: 7px; height: 7px; background: rgb(255, 255, 255);               }
    90%     {   width: 0px; height: 0px;                                                 }
}

@keyframes blink2 {
    0%      {   background: orangered;      }
    10%     {   background: darkred;        }
    20%     {   background: orangered;      }
    30%     {   background: darkred;        }    
    40%     {   background: orangered;      }
    50%     {   background: darkred;        }    
    60%     {   background: orangered;      }
    70%     {   background: darkred;        }    
    80%     {   background: orangered;      }
    90%     {   background: darkred;        }    
    100%    {   background: orangered;      }
}

.moon-experiences:hover, .moon-skills:hover, .moon-projects:hover {
	width: 150px;
    height: 150px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 4%;
    width: 100%;
    background-color: dimgray;
    color: black;
    z-index: 10;
}

.footer .contact {
    left: 20%;
    top: 8%;
}

.contact i.fa-phone {
    position: absolute;
    left: 20%;
    top: 5%;
    animation-name: contact-phone-rolling;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.contact i.fa-envelope {
    position: absolute;
    left: 20%;
    top: 50%;
    animation-name: contact-mail-rolling;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.contact .contact-phone-number {
    position: absolute;
    left: 21%;
    top: 8%;
    font-size: 80%;
    font-weight: bold;
    animation-name: contact-phone-number-appear;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.contact .contact-mail {
    position: absolute;
    left: 21%;
    top: 50%;
    font-size: 80%;
    font-weight: bold;
    animation-name: contact-mail-appear;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.footer .about-me {
    position: absolute;
    font-size: 200%;
    left: 50%;
    top: 8%;
    animation-name: contact-user-rolling;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.github i.fa-github {
    left: 80%;
    top: 8%;
    position: absolute;
    font-size: 200%;
    animation-name: contact-github-rolling;
    animation-duration: 6s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.github .github-link {
    position: absolute;
    font-size: 80%;
    font-weight: bold;
    left: 82%;
    top: 30%;
    animation-name: github-link-appear;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes contact-phone-rolling {
    0%      {    left: 0%; transform: rotate(0deg);         }
    100%    {    left: 20%; transform: rotate(360deg);      }
}

@keyframes contact-mail-rolling {
    0%      {    left: 0%; transform: rotate(0deg);         }
    100%    {    left: 20%; transform: rotate(360deg);      }
}

@keyframes contact-user-rolling {
    0%      {    left: 0%; transform: rotate(0deg); pointer-events: none;                               }
    100%    {    left: 50%; transform: rotate(720deg); pointer-events: none;                            }
}

@keyframes contact-github-rolling {
    0%      {    left: 0%; transform: rotate(0deg);         }
    100%    {    left: 80%; transform: rotate(1080deg);     }
}

@keyframes contact-phone-number-appear {
    0%      {    opacity: 0;                                }
    50%     {    opacity: 0;                                }
    100%    {    opacity: 1;                                }
}

@keyframes contact-mail-appear {
    0%      {    opacity: 0;                                }
    50%     {    opacity: 0;                                }
    100%    {    opacity: 1;                                }
}

@keyframes github-link-appear {
    0%      {    opacity: 0;                                }
    75%     {    opacity: 0;                                }
    100%    {    opacity: 1;                                }
}

.about-me i.fa-user:hover .about-me-tooltip {
    visibility: visible;
    opacity: 1;
}

.about-me i.fa-user:hover {
    color: red;
}

.about-me i.fa-user .about-me-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    position: absolute;
    font-size: 60%;
    border-radius: 6px;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1s;
}

.about-me i.fa-user .about-me-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}
