<div #experiencesPanel [style.height.%]="experiencesPanelHeight" class="top-nav">
  <div class="left-closebtn">
    <i class="fa fa-times-circle" (click)="closeExperiencesPanel()"></i>
  </div>
  <div class="right-closebtn">
    <i class="fa fa-times-circle" (click)="closeExperiencesPanel()"></i>
  </div>
  <div class="grid">
    <a *ngFor="let experience of experiences" class="list-experiences-element" (click)="navigateToExperience(experience.companyName, experience.position)">
      <div class="experiences-button">
        {{experience.companyName}}
      </div>
    </a>
  </div>
  <div class="grid-more">
    <div class="more-experiences experiences-button" (click)="navigateToExperiencesPage()">MORE</div>
  </div>
</div>