<div #experiencesPanel [style.height.%]="experiencesPanelHeight" class="top-nav">
  <div class="left-closebtn">
    <i class="fa fa-times-circle" (click)="closeExperiencesPanel()"></i>
  </div>
  <div class="right-closebtn">
    <i class="fa fa-times-circle" (click)="closeExperiencesPanel()"></i>
  </div>
  <div class="flex-container">
    <div class="flex-container">
      <div *ngFor="let experience of experiences" (click)="navigateToExperience(experience.companyName, experience.position)">
        {{experience.companyName}}
      </div>
    </div>
    <div class="flex-container right">
      <div (click)="navigateToExperiencesPage()">
        MORE
      </div>
    </div>
  </div>
</div>