<div #experiencesPanel [style.height.%]="experiencesPanelHeight" class="top-nav">
  <div [style.visibility]="buttonVisibility" class="left-closebtn">
    <i class="fa fa-times-circle" (click)="closeExperiencesPanel()"></i>
  </div>
  <div [style.visibility]="buttonVisibility" class="right-closebtn">
    <i class="fa fa-times-circle" (click)="closeExperiencesPanel()"></i>
  </div>
  <div class="flex-container">
      <div 
        [style.visibility]="buttonVisibility" 
        *ngFor="let experienceDto of experiencesDto" 
        (click)="navigateToExperience(experienceDto.companyName, experienceDto.position)">
        {{experienceDto.companyName}}
      </div>
      <div 
        class="more"
        *ngIf="experiencesDto.length === 5" 
        [style.visibility]="buttonVisibility"
        (click)="navigateToExperiencesPage()">
        MORE
      </div>
  </div>
</div>