.sun {
    width: 400px;
    height: 400px;
    background-color: orange;
    border-radius: 50%;
    z-index: -1;
    /* animation-name: radiating; */
    /* animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
    box-shadow:
        inset 0 0 50px #fff,      
        inset 20px 0 80px yellow,   
        inset -20px 0 80px red,  
        inset 20px 0 300px yellow,  
        inset -20px 0 300px red,
        0 0 50px #fff,           
        -10px 0 80px orange,       
        10px 0 80px orange;   
}

@keyframes radiating {
    50% {
        box-shadow: 
            inset 0 0 50px #fff,      
            inset 20px 0 80px yellow,   
            inset -20px 0 80px red,  
            inset 20px 0 300px yellow,  
            inset -20px 0 300px red,
            0 0 50px #fff,
            -50px 0px 80px orange,        
            0px 50px 80px orange,
            0px -50px 80px orange,        
            50px 0px 80px orange;    
    }
}

.center {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.moon-skills {
    width: 80px;
    height: 80px;
    background-color: darkred;
    border-radius: 50%;
    animation-name: orbit;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: width 2s, height 2s;
    z-index: 1;
    box-shadow:
        inset 0 0 50px white,    
        inset 20px 0 80px orangered,   
        inset -20px 0 80px red,  
        inset 20px 0 300px orangered,  
        inset -20px 0 300px red, 
        -10px 0 150px 1px crimson,
        10px 0 80px 1px crimson,
        10px 10px 5px rgba(0, 0, 0, 0.5); 
}

.moon-experiences {
    width: 100px;
    height: 100px;
    background-color: darkblue;
    border-radius: 50%;
    animation-name: orbit2;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: width 2s, height 2s;
    z-index: 2; 
    box-shadow:
        inset 20px 0 80px skyblue,   
        inset -20px 0 80px darkblue,  
        inset 20px 0 300px dodgerblue,  
        inset -20px 0 300px blue, 
        -10px 0 150px 1px darkblue,
        10px 0 80px 1px darkblue,  
        10px 10px 10px rgba(0, 0, 0, 0.5);
}

.moon-projects {
    width: 75px;
    height: 75px;
    background: darkviolet;
    border-radius: 50%;
    animation-name: orbit3;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: width 2s, height 2s;
    box-shadow:
        inset 20px 0 80px white,   
        inset -20px 0 80px darkviolet,  
        inset 20px 0 300px mediumorchid,  
        inset -20px 0 300px violet, 
        -10px 0 150px indigo,
        10px 0 80px indigo;
}

@keyframes orbit {
    from    {   transform: rotate(0deg) translateY(-175px) translateX(-175px);                  }
	to      {   transform: rotate(360deg) translateY(-175px) translateX(-175px);                }
    0%      {   background-color:darkred;                                                     }
    25%     {   background-color:red;                                                         }
    50%     {   background-color:yellow;                                                      }
    75%     {   background-color:red;                                                         }
    100%    {   background-color:darkred;                                                     }

    0% {
        box-shadow:
        inset 0 0 50px white,    
        inset 20px 0 80px orangered,   
        inset -20px 0 80px red,  
        inset 20px 0 300px orangered,  
        inset -20px 0 300px red, 
        -10px 0 150px 1px crimson,
        10px 0 80px 1px crimson,  
        10px 10px 5px rgba(0, 0, 0, 0.5); 
    }

    25% {
        box-shadow:
        inset 0 0 50px white,    
        inset 20px 0 80px orangered,   
        inset -20px 0 80px red,  
        inset 20px 0 300px orangered,  
        inset -20px 0 300px red, 
        -10px 0 150px 1px crimson,
        10px 0 80px 1px crimson;
    }

    75% {
        box-shadow:
        inset 0 0 50px white,    
        inset 20px 0 80px orangered,   
        inset -20px 0 80px red,  
        inset 20px 0 300px orangered,  
        inset -20px 0 300px red, 
        -10px 0 150px 1px crimson,
        10px 0 80px 1px crimson;
    }

    100% {
        box-shadow:
        inset 0 0 50px white,    
        inset 20px 0 80px orangered,   
        inset -20px 0 80px red,  
        inset 20px 0 300px orangered,  
        inset -20px 0 300px red, 
        -10px 0 150px 1px crimson,
        10px 0 80px 1px crimson,  
        10px 10px 5px rgba(0, 0, 0, 0.5); 
    }
}

@keyframes orbit2 {
	from    { 	transform: rotate(0deg) translateY(-280px) translateX(-280px);                                      }
    to      {   transform: rotate(-360deg) translateY(-280px) translateX(-280px);                                   }
    0%      {   background-color:darkblue;                                                                        }
    25%     {   background-color:blue;                                                                            }
    50%     {   background-color:lightblue;                                                                       }
    75%     {   background-color:blue;                                                                            }
    100%    {   background-color:darkblue;                                                                        }
}

@keyframes orbit3 {
    0%      {   left: 35%; top: 38%;                                                                                }
    50%     {   left: 65%; top: 39%;                                                                                }
    75%     {   left: 50%; top: 38%;                                                                                }
    100%    {   z-index: -2; left: 35%; top: 38%;                                                                   }
    0%      {   background-color:darkviolet;                                                                        }
    25%     {   background-color:purple;                                                                            }
    50%     {   background-color:indigo;                                                                            }
    75%     {   background-color:purple;                                                                            }
    100%    {   background-color:darkviolet;                                                                        }

    20% {
        box-shadow:
        inset 20px 0 80px white,   
        inset -20px 0 80px darkviolet,  
        inset 20px 0 300px mediumorchid,  
        inset -20px 0 300px violet, 
        -10px 0 50px indigo,
        10px 0 50px indigo,  
        10px 10px 5px rgba(0, 0, 0, 0.5); 
    }

    50% {
        box-shadow:
        inset 20px 0 80px white,   
        inset -20px 0 80px darkviolet,  
        inset 20px 0 300px mediumorchid,  
        inset -20px 0 300px violet, 
        -10px 0 50px indigo,
        10px 0 50px indigo;
    }
}

.moon-experiences:hover, .moon-skills:hover, .moon-projects:hover {
	width: 150px;
    height: 150px;
    cursor: pointer;
}

.moon-experiences:hover .moon-experiences-tooltip, .moon-skills:hover .moon-skills-tooltip, .moon-projects:hover .moon-projects-tooltip {
    visibility: visible;
    transition: opacity 4s, transform 2s;
    font-size: 300%;
    opacity: 1;
    transform: translateX(-10px);
}

.moon-experiences .moon-experiences-tooltip, .moon-skills .moon-skills-tooltip, .moon-projects .moon-projects-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: rgb(255, 255, 255, 0);
    color: white;
    text-align: center;
    position: absolute;
    font-size: 60%;
    border-radius: 6px;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
    font-weight: bold;
    font-size: 120%;
    transition: opacity 1s, visibility 2s, transform 2s;
    transform: translateX(50px) translateY(50px);
    opacity: 0;
}

textPath {
    transition: font-size 4s;
}
