<div>
  <div (click)="redirectToExperiencesPage()" class="moon-experiences center">
    <span class="moon-experiences-tooltip">
      <svg viewBox="0 -250 500 550" class="center">
        <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" fill="transparent" />
        <text width="500">
          <textPath xlink:href="#curve"  fill="white">
            Experiences
          </textPath>
        </text>
      </svg>
    </span>
  </div>
  <div (click)="redirectToSkillsPage()" class="moon-skills center">
    <span class="moon-skills-tooltip">
      <svg viewBox="0 -250 500 550" class="center">
        <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" fill="transparent" />
        <text width="500">
          <textPath xlink:href="#curve"  fill="white">
            Skills
          </textPath>
        </text>
      </svg>
    </span>
  </div>
  <div (click)="redirectToProjectsPage()" class="moon-projects center">
    <span class="moon-projects-tooltip">
      <svg viewBox="0 -250 500 550" class="center">
        <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" fill="transparent" />
        <text width="500">
          <textPath xlink:href="#curve"  fill="white">
            Projects
          </textPath>
        </text>
      </svg>
    </span>
  </div>
  <div class="sun center"></div>
</div>

